/* html corrections */
body {
    margin:0;
    overflow-y:scroll;
}
h1, h2, h3, h4, h5 {
    margin:0;
}
p {
    margin:0 0 25px 0;
}
p.last {
    margin:0;
}
img {
    max-width:100%;
}
a,
a:visited {
    color:white;
}
/* END html corrections */

/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 300;*/
    /*src: url(/assets/fonts/WorkSans-Light.ttf) format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 400;*/
    /*src: url(/assets/fonts/WorkSans-Regular.ttf) format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 500;*/
    /*src: url(/assets/fonts/WorkSans-Medium.ttf) format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 600;*/
    /*src: url(/assets/fonts/WorkSans-SemiBold.ttf) format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 700;*/
    /*src: url(/assets/fonts/WorkSans-Bold.ttf) format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'work';*/
    /*font-weight: 800;*/
    /*src: url(/assets/fonts/WorkSans-ExtraBold.ttf) format('truetype');*/
/*}*/

/* global */

body {
    font-family:'Poppins', Arial, sans-serif;
	font-size:16px;
	font-weight:normal;
}
.container {
    width:1208px;
    max-width:100%;
}
.container:before {
    display: none;
}

.page-heading-h1 {
    font-size:60px;
    line-height:115%;
    font-weight:normal;
    padding:0;
    margin:0 0 48px 0;
}
.page-heading-h1b {
    font-size:48px;
    line-height:normal;
    font-weight:500;
    padding:0;
}
.page-heading-h2 {
    font-size:40px;
    line-height:normal;
    font-weight:normal;
    padding:0;
    margin-bottom:8px;
}
.page-heading-h2b {
	font-size:21px;
	font-weight:300;
	line-height:normal;
}
.page-heading-h3 {
    font-size:22px;
    line-height:140%;
    font-weight:500;
    padding:0;
    margin:0 0 15px 0;
}
.page-heading-h5 {
    font-size:14px;
    font-weight:500;
    margin-bottom:20px;
}
.subtitle1 {
	font-size:24px;
	font-weight:500;
	line-height:135%;
	margin:0;
}
.subtitle2 {
	font-size:32px;
	line-height:125%;
	font-weight:300;
}
.subsection-intro {
    font-size:20px;
    line-height:24px;
    font-weight:300;
}
p.subsection-intro {
	margin-bottom:21px;
}
.legal {
    font-size:16px;
    line-height:150%;
    font-weight:300;
    margin-bottom:25px;
}
.legal.legal12 {
	font-size:12px;
	line-height:normal;
	font-weight:normal;
}

.body1 {
	font-size:16px;
	font-weight:300;
	line-height:normal;
}
.body2 {
	font-size:20px;
	line-height:120%;
	font-weight:300;
}
.body3 {
	font-size:20px;
	font-weight:300;
	line-height:120%;
}
p.body3 {
	margin-bottom:10px;
}
.body1 strong {
	font-weight:500;
}

.legal a,
.legal a:active,
.legal a:visited,
.legal a:hover, 
.home .legal a,
.home .legal a:active,
.home .legal a:visited,
.home .legal a:hover {
	text-decoration:underline;
	color:#FE7C3F;
}
.fineprint {
    font-size:10px;
    line-height:normal;
	font-weight:normal;
}
.fineprint12 {
    font-size:12px;
	line-height:normal;
	font-weight:normal;
}
.fineprint p {
    margin-bottom:16px;
}
.download {
    margin-bottom:0;
}
.updated {
    font-size:10px;
	font-weight:500;
}
.quote {
    background-color:#90EBCD;
    padding:22px 39px 1px 39px;
    font-size:16px;
    font-weight:normal;
    line-height:150%;
    color:black;
    border-radius:30px;
    margin-bottom:16px;
}
.quote strong {
    font-weight:normal;
}
.spacer-tiny {
    height:10px;
}
.spacer-big {
    height:100px;
}
.margin-xxs,
p.margin-xxs {
	margin-bottom:5px;
}
.margin-xs {
	margin-bottom:15px;
}
.margin-med {
	margin-bottom:30px;
}
.margin-small {
	margin-bottom:20px;
}
.margin-big {
    margin-bottom:80px;
}
.margin-large,
p.subsection-intro.margin-large,
.treatment.margin-large {
	margin-bottom:30px;
}
.margin-xl,
.treatment.margin-xl {
	margin-bottom:48px;
}

.legend {
    padding:0;
    font-size:24px;
	line-height:135%;
    line-height:125%;
    font-weight:500;
	margin-bottom:15px;
}
.big-circle {
    display:inline-block;
    width:29px;
    height:29px;
    border-radius:15px;
}
.med-circle {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius:8px;
}
.borRad30 {
    border-radius:30px;
}
.u-center {
    text-align:center !important;
}
.u-nomargin {
    margin:0 !important;
}
.for-email a {
    color:#0000ff;
    text-decoration:underline;
}
.callout {
    text-align:center;
    width:100%;
    font-size:22px;
    font-weight:500;
    color:#bb0089;
}
body .for-email a:hover {
    color:#3333ff;
}
video:focus,
video:active {
    outline:0;
}

.row.gap20 {
	margin-left:-10px;
	margin-right:-10px;
}
.row.gap20 .col-md-6,
.row.gap20 .col-sm-6,
.row.gap20 .col-md-4,
.row.gap20 .col-sm-4 {
	padding-left:10px;
	padding-right:10px;
}

/* **************************
********* Colors ************
 ****************************/
.coral {
    color:#FE7C3F;
}
.fog {
    color:#EFEFEF;
}
.jungle {
    color:#30ba78;
}
.black {
    color:black;
}
.seafoam {
    color:#90EBCD;
}
.salmon {
    color:#ff8e77;
}
.pine {
    color:#0c322c;
}
.midnight {
    color:#192072;
}
.waterhole {
    color:#2453FF;
}
.mint {
    color:#90EBCD;
}
.background-white {
    background-color:white;
    color:black;
}
.background-pine {
    background-color:#0c322c;
}
.background-coral {
    background-color:#FE7C3F;
}
.background-persimmon {
    background-color:#FE7C3F;
}
.background-jungle {
    background-color:#30ba78;
}
.background-black {
    background-color:black;
}
.background-fog {
    background-color:#EFEFEF;
}
.background-fog200 {
    background-color:#e6e6e6;
}
.background-fog300 {
    background-color:#d7d7d7;
}
.background-seafoam {
    background-color:#90EBCD;
}
.background-mint {
    background-color:#90ebcd;
}
.background-seafoam60 {
    background-color:#afe5cc;
}
.background-seafoam20 {
    background-color:#e4f6ee;
}
.background-salmon {
    background-color:#ff8e77;
}
.background-salmon60 {
    background-color:#ffbbad;
}
.background-salmon20 {
    background-color:#ffe8e4;
}
.background-ghost {
    background-color:#f7f7f7;
}
.background-solid-blue {
    background-color:#192072;
}
.background-waterhole-blue {
    background-color:#2453FF;
}
.background-midnight-blue {
    background-color:#192072;
}
.background-spacer-gray {
    background-color:#f1efef;
}
.border-3 {
    border:3px solid;
}
.border-white {
    border-color:white !important;
}
.border-jungle {
    border-color:#30ba78 !important;
}
.border-coral {
    border-color:#FE7C3F !important;
}
.border-seafoam {
    border-color:#7ad4aa !important;
}
.border-salmon {
    border-color:#ff8e77 !important;
}
/* ******************************
********* End Colors ************
 ********************************/


.boxclose{
    position:absolute;
    top:20px;
    right:20px;
    color:#cc0000;
    border:2px solid #cc0000;
    width:31px;
    height:31px;
    border-radius:15px;
    font-size:36px;
    font-weight:400;
    display:inline-block;
    line-height:0px;
    padding:13px 0 0 1px;
    text-align:center;
}
.boxclose:before {
    content: "×";
}


/*copied from the suse.com sass structure*/
.l-grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 3rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.l-grid--align-items-start {
    align-items: start;
}
.l-grid--align-items-stretch {
    align-items: stretch;
}

.l-grid--4-col {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
@media only screen and (max-width: 1000px) {
    .l-grid--4-col {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .l-grid--4-col {
        grid-template-columns: minmax(0, 1fr);
    }
}

.l-grid--2-col {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns:1fr 1fr;
}
@media only screen and (max-width: 1000px) {
    .l-grid--2-col {
        grid-template-columns: 1fr;
        -ms-grid-columns:1fr;
    }
}
.l-grid--2-col-first-long {
    grid-template-columns: 2fr 1fr;
    -ms-grid-columns:2fr 1fr;
}
@media only screen and (max-width: 1000px) {
    .l-grid--2-col-first-long {
        grid-template-columns: 1fr;
        -ms-grid-columns:1fr;
    }
}
.l-grid--2-col-second-long {
    grid-template-columns: 1fr 2fr;
    -ms-grid-columns:1fr 2fr;
}
@media only screen and (max-width: 1000px) {
    .l-grid--2-col-second-long {
        grid-template-columns: 1fr;
        -ms-grid-columns:1fr;
    }
}


.l-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.l-flex--justify-space-between {
    justify-content: space-between;
}



.headline {
    font-size:30px;
    font-weight:500;
    color:white;
    margin-bottom:50px;
}
.orange-headline {
    font-size:20px;
    font-weight:300;
    color: #ff8e77;
    margin-bottom:40px;
}
/* END global */


/* page styles */
header {
    background-color:#0c322c;
    padding:10px 0;
    color:white;
	font-size:16px;
}
header .logo {
    margin:10px 0 0 0;
    border:0;
    float:left;
}
header .headline {
    padding:15px;
    margin:0;
    text-align:right;
    font-size:20px;
    font-weight:300;
    -ms-grid-column:2;
}
header .mainNav {
    float:right;
    list-style-type:none;
    padding:0;
    margin:0;
}
header .mainNav li {
    display:inline-block;
}
header .mainNav li::after {
    content:' ';
    display:block;
    clear:both;
    overflow:hidden;
    width:6px;
    height:6px;
    border-radius:3px;
    background-color:transparent;
    margin:0 auto;
}
header .mainNav li.current::after {
    background-color:#FE7C3F;
}
header .mainNav li a {
    color:white;
    display:inline-block;
    padding:15px 10px 3px 10px;
    margin:0 5px;
    text-decoration:none;
    font-weight:500;
}
header .mainNav li a:hover {
    color:#90EBCD;
}
header .mainNav li.current a {
    color:#90EBCD;
}


.content {
    font-size:18px;
}
.button {
    font-size:14px;
    line-height:135%;
    font-weight:700;
    border-radius: 50px;
    color:#0c322c;
    background-color:#FE7C3F;
    padding:11px 15px 0 15px;
    min-width:156px;
    text-align:center;
    color:white;
    text-decoration:none;
    display:inline-block;
    margin-right:15px;
}
.button.big {
    padding:11px 60px 12px 60px;
}
.button:hover {
    background-color:#F3B292;
    transition: background-color .5s;
    text-decoration:none;
}
.button:focus,
.button:active {
    outline:0;
    text-decoration:none;
}
.button.disabled {
    background-color:#EFEFEF;
}
.button2,
.home a.button.button2 {
    background-color:transparent;
    border:2px solid #FE7C3F;
    color:white;
    padding-top:8px;
}
.home .container {
	width:960px;
}
.button2:hover {
    background-color:transparent;
}
.download .button {
    font-size:16px;
    font-weight:500;
    height:40px;
    vertical-align:top;
    margin-bottom:3px;
	padding-top:8px;
	padding-left:44px;
	padding-right:44px;
}
input.button {
    padding-top:0;
    border:0;
    font-size:14px;
    color:#0c322c;
    height:40px;
    min-width:232px;
}


/***********************************************************
/***************** Customized Dropdown Box *****************
***********************************************************/
.custom-select {
    display:inline-block;
    width:189px;
    height:40px;
    border-radius:20px;
    margin-right:25px;
    margin-bottom:15px;
    vertical-align:top;
    position:relative;
}
.custom-select + a.button {
    width:189px;
}
.custom-select > span {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:20px;
    font-size:12px;
    line-height:125%;
    font-weight:500;
    padding:11px 0 0 20px;
    z-index:110;
    border:1px dotted #EFEFEF;
    background:#0c322c url(/assets/img/brand/select-arrow-01.png) 155px top no-repeat;
    /*transition:border 0.5s;*/
}
.custom-select.expanded > span {
    border:2px solid #EFEFEF;
    padding:10px 0 0 19px;
    background:#0c322c url(/assets/img/brand/select-arrow-01.png) 154px -1px no-repeat;
}
.custom-select ul {
    display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    list-style-type:none;
    padding:53px 0 15px 0;
    margin:0;
    border:2px dotted rgba(242, 242, 242, 0.5);
    border-radius:20px;
    border-top:0;
    z-index:100;
    background-color:#0c322c;
}

.custom-select ul li {
    opacity:0;
    transition:opacity 0.5s;
}

.custom-select ul a {
    display:block;
    font-size:10px;
    line-height:12px;
    font-weight:300;
    text-decoration:none;
    color:#EFEFEF;
    padding:2px 28px;
    background-color:#0c322c;
    position:relative;
    transition:background-color 0.3s, color 0.25s;
}
.custom-select ul a:hover {
    color:black;
    background-color:#90EBCD;
}
.custom-select ul a:hover::before {
    display:block;
    content:' ';
    position:absolute;
    top:4px;
    left:-5px;
    width:8px;
    height:8px;
    border-radius:4px;
    background-color:#31ba78;
    z-index:101;
    overflow:hidden;
}
.custom-select::after {
    content:' ';
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:20px;
    background-color:#0c322c;
    z-index:105;
}

/***********************************************************
/************* End Customized Dropdown Box *****************
***********************************************************/


.home a:focus,
.home a:hover {
    color:white;
}
.home a.button {
    color:#0c322c;
}

body.home {
    background-color: #0c322c;
}
.home section {
    color:#f7f7f7;
    background-color: #0c322c;
    font-weight:300;
}

#hero-banner {
    background-color:#0c322c;
    padding:0;
    color: #31ba78;
	padding:100px 0 130px 0;
	margin-bottom:70px;
	background:transparent url(/assets/img/brand/home-hero-bg.png) center bottom no-repeat;
}
#hero-banner h1 {
    font-size: 72px;
    font-weight: 300;
}
#hero-banner video {
	border-radius:30px;
}

#heroic-banner {
    background-color:#EFEFEF;
}
#heroic-banner .linebox {
    position:absolute;
    width:50%;
    left:50%;
    height:600px;
    background:#EFEFEF url(/assets/img/brand/banner_bg01.png) left top repeat-x;
    z-index:0;
}
#heroic-banner .container-outer {
    background:transparent url(/assets/img/brand/banner_bg02.png) left top no-repeat;
    color:#0c322c;
    position:relative;
    z-index:1;
    width:1208px;
    max-width:100%;
    margin:0 auto;
}
#heroic-banner .container {
    min-height:600px;
}
#heroic-banner .heroic-title {
    margin-left:59%;
    padding-top:203px;
}
#heroic-banner h2 {
    font-weight:300;
    font-size:48px;
    line-height:123%;
    padding:0;
    margin:0 0 60px 0;
}
#heroic-banner h2 strong {
    font-weight:500;
}
#heroic-banner .button {
    font-size:20px;
    padding:20px 67px 22px 67px;
    font-weight:600;
}
@media only screen and (max-width: 1200px) {
    #heroic-banner .container {
        background-color:rgba(255, 255, 255, 0.75);
    }
    #heroic-banner .heroic-title {
        width:485px;
        margin:0 auto;
        padding-top:170px;
    }
    #heroic-banner .button {
        font-size:16px;
        padding:15px 60px 17px 60px;
        font-weight:600;
    }
}
@media only screen and (max-width: 590px) {
    #heroic-banner .container-outer {
        background-size: cover;
    }
    #heroic-banner .container {
        min-height:auto;
    }
    #heroic-banner .heroic-title {
        width:auto;
        margin:0;
        padding-top:100px;
        padding-bottom:100px;
    }
    #heroic-banner h2 {
        font-size:36px;
        line-height:123%;
        margin:0 0 50px 0;
    }
}
@media only screen and (max-width: 440px) {
    #heroic-banner h2 {
        font-size:28px;
        line-height:123%;
        margin:0 0 40px 0;
    }
}





#introduction {
    position:relative;
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(/assets/img/brand/intro-dots02.png);
    background-position: right bottom;
    background-repeat:no-repeat;
    min-height:634px;
}
#introduction .absolute-line {
    position:absolute;
    width:30%;
    top:60px;
    height:600px;
    background:transparent url(/assets/img/brand/introduction-line02.png) right top no-repeat;
}
#introduction .dotted-line {
    border-top:30px dotted red;
    position:relative;
    width:530px;
    bottom:0;
}
#introduction .content-container {
    margin-top:24px;
    -ms-grid-column:2;
}
#introduction .content {
    /*
    font-size:30px;
    font-weight:300;
    line-height:150%;
    */
    width:85%;
}


#goals-of-the-refresh {
    position: relative;
    padding-top:90px;
    padding-bottom:120px;
    background-image: url(/assets/img/brand/goal-dots02.png);
    background-position: right top;
    background-repeat:no-repeat;
    overflow:hidden;
}
#goals-of-the-refresh .absolute-line {
    position: absolute;
    width:100%;
    top:90px;
    left:45%;
    height:450px;
    background: transparent url(/assets/img/brand/goals-line03.png) 445px top no-repeat;
}
#goals-of-the-refresh .al2 {
    position:absolute;
    top:90px;
    left:45%;
    width:445px;
    height:445px;
    background-color:#7bc9a6;/*74d4aa - 7bc9a6*/
    background:white url(/assets/img/brand/logo_comparison.png) center center no-repeat;
    background-size:cover;
    border-radius:20px;
    padding:40px;
    text-align:center;
}
#goals-of-the-refresh.alt1 .al2 {
    background:white url(/assets/img/brand/suse-logo-old-01.png) center center no-repeat;
    background-size:cover;
}
#goals-of-the-refresh .al2 img {
    display:block;
    margin:0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width:80%;
}
#goals-of-the-refresh .al3 {
    position:absolute;
    top:90px;
    left:45%;
    width:445px;
    height:445px;
    background-color:#FE7C3F;
    border-radius:20px;
}
#goals-of-the-refresh.alt1 .al3 {
    background:white url(/assets/img/brand/suse-logo-new-01.png) center center no-repeat;
    background-size:cover;
}

#goals-of-the-refresh img.mobile-orange-box {
    display:none;
}


#strategies {
    padding-top:100px;
    padding-bottom:100px;
    background-color:#0c322c;
    background-image: url(/assets/img/brand/strategies-line02.png), url(/assets/img/brand/strategy-dots02.png);
    background-position: center, left bottom;
    background-repeat: no-repeat, no-repeat;
}
#strategies .content-container {
    -ms-grid-column:2;
}


#qlm {
    padding:100px 0;
    background-image: url(/assets/img/brand/qlm-top-dots02.png), url(/assets/img/brand/qlm-bottom-dots02.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}
#qlm .l-grid--5center {
    width:1000px;
}
#qlm .content {
    font-size:30px;
    text-align:center;
    font-weight:100;
}
#qlm .content p {
    margin-bottom:60px;
}
@media only screen and (max-width: 1200px) {
    #qlm .l-grid--5center {
        width:650px;
    }
}
@media only screen and (max-width: 1000px) {
    #qlm .l-grid--5center {
        width:100%;
    }
}


.design-principles {
    position:relative;
    padding-top:50px;
    padding-bottom:70px;
    background:#0c322c url(/assets/img/brand/principles-dots02.png) right top no-repeat;
}
.design-principles .absolute-line {
    position: absolute;
    width:55%;
    top:0;
    height: 580px;
}
.design-principles .content-container {
    -ms-grid-column:2;
}
.design-principles .content {
    line-height:133%;
}
.design-principles .headline {
    margin-bottom:40px;
}
#design-principles1 .absolute-line {
    background:#31ba78 url(/assets/img/brand/principles-line02.png) right top no-repeat;
}
#design-principles2 .absolute-line {
    background:#FE7C3F url(/assets/img/brand/orange_dots02.png) center center no-repeat;
}

#design-principles-carousel .carousel-control {
    text-shadow:none;
    opacity:0.8;
}
#design-principles-carousel .carousel-control:focus,
#design-principles-carousel .carousel-control:hover {
    opacity:1;
}
#design-principles-carousel .carousel-control.left,
#design-principles-carousel .carousel-control.right {
    background-image:none;
    filter:none;
}
#design-principles-carousel .carousel-control .glyphicon-chevron-left {
    left:25%;
}
#design-principles-carousel .carousel-control .glyphicon-chevron-right {
    right:25%;
}
#design-principles-carousel .glyphicon-chevron-left::before {
    display:inline-block;
    padding-right:5px;
    color:#74d4aa;
    content: "\25C0";
}
#design-principles-carousel .glyphicon-chevron-right::before {
    display:inline-block;
    padding-left:5px;
    color:#74d4aa;
    content: "\25BA";
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    width:50px;
    height:50px;
    border-radius:25px;
    background-color:#f7f7f7;
    top:calc(50% - 34px);
    font-size:24px;
    line-height:44px;
}






#the-system {
    background-color:#0c322c;
    padding-top:50px;
    padding-bottom:250px;

	background:transparent url(/assets/img/brand/dots01.png) center bottom repeat-x;

}
#the-system .headline {
    text-align:center;
	font-size:42px;
    padding-bottom:40px;
}
#the-system .card {
    position:relative;
    border-radius:30px;
    color:#0c322c;
    text-decoration: none;
    min-height:215px;
    padding:22px 22px 20px 25px;
    transition:background-color .5s, border-color .5s;
    font-size:9px;
    line-height:120%;
	background-color:#EFEFEF;
}
#the-system .card.coral-card {
	background-color:#FE7C3F;
	/*
	background:#FE7C3F url(/assets/img/brand/img-work-sans.png) center center no-repeat;
	background-size:cover;
	transition:background-color .5s, background-image .5s;*/
}
/*
#the-system .card.coral-card:hover {
	background-image:none;
	background-color:#74d4aa;
	transition:background-color .5s, background-image .5s;
}
*/
#the-system .card .title {
    font-size:24px;
    padding:0;
    margin-bottom:10px;
}
#the-system .card .text {
    opacity:0;
    align-items: center;
    font-size:9px;
    line-height:14px;
}
#the-system .card img {
    width:100%;
    position: absolute;
    left:0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#the-system .card .img {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius:30px;
}

#the-system .card:hover {
    border-color:#0c322c;
}
#the-system .card.green:hover {
    background-color:#31ba78;
}
#the-system .card.ltgreen:hover {
    background-color:#74d4aa;
}
#the-system .card.salmon:hover {
    background-color:#FE7C3F;
}
#the-system .card.ltsalmon:hover {
    background-color:#ff8e77;
}
#the-system .card:hover img,
#the-system .card:hover .img {
    display: none;
}
#the-system .card:hover .text {
    opacity:1;
}

/* Isn't Grid great? */
#the-system .l-grid--4-col {
    -ms-grid-columns:1fr 3rem 1fr 3rem 1fr 3rem 1fr;
    -ms-grid-rows:1fr 3rem 1fr;
}
#the-system .l-grid--4-col div.card:nth-child(1) {
    -ms-grid-column:1;
}
#the-system .l-grid--4-col div.card:nth-child(2) {
    -ms-grid-column:3;
}
#the-system .l-grid--4-col div.card:nth-child(3) {
    -ms-grid-column:5;
}
#the-system .l-grid--4-col div.card:nth-child(4) {
    -ms-grid-column:7;
}
#the-system .l-grid--4-col div.card:nth-child(5) {
    -ms-grid-row:3;
    -ms-grid-column:1;
}
#the-system .l-grid--4-col div.card:nth-child(6) {
    -ms-grid-row:3;
    -ms-grid-column:3;
}
#the-system .l-grid--4-col div.card:nth-child(7) {
    -ms-grid-row:3;
    -ms-grid-column:5;
}
#the-system .l-grid--4-col div.card:nth-child(8) {
    -ms-grid-row:3;
    -ms-grid-column:7;
}
@media all and (-ms-high-contrast:none) {
    #the-system {
        padding-top:80px;
    }
}
@media only screen and (max-width: 1000px) {
    #the-system .l-grid--4-col {
        -ms-grid-columns:1fr 3rem 1fr;
        -ms-grid-rows:1fr 3rem 1fr 3rem 1fr 3rem 1fr;
    }
    #the-system .l-grid--4-col div.card:nth-child(1) {
        -ms-grid-column:1;
    }
    #the-system .l-grid--4-col div.card:nth-child(2) {
        -ms-grid-column:3;
    }
    #the-system .l-grid--4-col div.card:nth-child(3) {
        -ms-grid-row:3;
        -ms-grid-column:1;
    }
    #the-system .l-grid--4-col div.card:nth-child(4) {
        -ms-grid-row:3;
        -ms-grid-column:3;
    }
    #the-system .l-grid--4-col div.card:nth-child(5) {
        -ms-grid-row:5;
        -ms-grid-column:1;
    }
    #the-system .l-grid--4-col div.card:nth-child(6) {
        -ms-grid-row:5;
        -ms-grid-column:3;
    }
    #the-system .l-grid--4-col div.card:nth-child(7) {
        -ms-grid-row:7;
        -ms-grid-column:1;
    }
    #the-system .l-grid--4-col div.card:nth-child(8) {
        -ms-grid-row:7;
        -ms-grid-column:3;
    }
}
@media only screen and (max-width: 600px) {
    #the-system .l-grid--4-col {
        -ms-grid-columns:1fr;
        -ms-grid-rows:1fr (3rem 1fr)[7];
    }
    #the-system .l-grid--4-col div.card:nth-child(1) {
        -ms-grid-column:1;
        -ms-grid-row:1;
    }
    #the-system .l-grid--4-col div.card:nth-child(2) {
        -ms-grid-column:1;
        -ms-grid-row:3;
    }
    #the-system .l-grid--4-col div.card:nth-child(3) {
        -ms-grid-column:1;
        -ms-grid-row:5;
    }
    #the-system .l-grid--4-col div.card:nth-child(4) {
        -ms-grid-column:1;
        -ms-grid-row:7;
    }
    #the-system .l-grid--4-col div.card:nth-child(5) {
        -ms-grid-column:1;
        -ms-grid-row:9;
    }
    #the-system .l-grid--4-col div.card:nth-child(6) {
        -ms-grid-column:1;
        -ms-grid-row:11;
    }
    #the-system .l-grid--4-col div.card:nth-child(7) {
        -ms-grid-column:1;
        -ms-grid-row:13;
    }
    #the-system .l-grid--4-col div.card:nth-child(8) {
        -ms-grid-column:1;
        -ms-grid-row:15;
    }
}

/**********************************
********** Begin FAQ page *********
*********************************** */
#faq {
    padding:100px 0;
}
#faq h2 {
    font-size:28px;
    font-weight:normal;
    line-height:120%;
    color:#0c322c;
    padding:0;
    margin:0 0 100px 0;
    text-align:center;
}
#faq ul.accord {
    padding:0;
    margin:0 auto;
    max-width:800px;
    list-style-type:none;
}
#faq ul.accord > li {
    border:1px dotted #09322c;
    border-radius:32px;
    margin-bottom:25px;
}
#faq h3 {
    font-size:20px;
    font-weight:500;
    line-height:117%;
    padding:18px 20px 18px 20px;
    margin:-1px -1px 0 -1px;
    cursor:pointer;
    border:2px solid rgba(9, 50, 44, 0);
    border-radius:32px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}
#faq h3::after {
    content: '\002b';
    float:right;
}
#faq h3.active {
    border:2px solid rgba(9, 50, 44, 1);
}
#faq h3.active::after {
    content: '\2212';
}
#faq .answer {
    display:none;
    padding:25px 10% 5px 21px;
    font-size:18px;
    line-height:150%;
}
#faq .answer ul,
#faq .answer ol {
    padding:0 0 0 23px;
    margin:0;
}
#faq .answer ul li,
#faq .answer ol li {
    padding:0;
    margin:0 0 25px 0;
}

@media only screen and (max-width:768px) {
    #faq {
        padding:40px 0;
    }
    #faq h2 {
        font-size:32px;
        line-height:120%;
        margin-bottom:40px;
    }
    #faq .col-md-12 > ul > li {
        border-radius:30px;
    }
    #faq h3 {
        font-size:20px;
        padding:15px 25px 15px 20px;
        position:relative;
        border-radius:30px;
    }
    #faq h3::after {
        position:absolute;
        top:35%;
        right:15px;
    }
    #faq .answer {
        padding:20px 25px 5px 20px;
        font-size:16px;
        line-height:150%;
    }

}


#faq2 {
    padding:100px 0;
    font-size:16px;
    line-height:150%;
    font-weight:300;
}
#faq2 .container {
    width:940px;
}
#faq2 .page-heading-h1 {
    margin-bottom:50px;
}
#faq2 ul.accord {
    padding:0;
    margin:0 auto;
    max-width:800px;
    list-style-type:none;
}
#faq2 ul.accord > li {
    border:1px dotted #09322c;
    border-radius:32px;
    margin-bottom:25px;
}
#faq2 ul.accord h3 {
    font-size:18px;
    font-weight:normal;
    line-height:117%;
    padding:18px 45px 18px 30px;
    margin:-1px -1px 0 -1px;
    cursor:pointer;
    border:2px solid rgba(9, 50, 44, 0);
    border-radius:32px;
    position:relative;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}
#faq2 ul.accord h3::after {
    content: '\002b';
    font-weight:500;
    position:absolute;
    top:calc(50% - 11px);
    right:30px;
}
#faq2 ul.accord h3.active {
    border:2px solid rgba(9, 50, 44, 1);
}
#faq2 ul.accord h3.active::after {
    content: '\2212';
}
#faq2 .answer {
    display:none;
    padding:25px 30px 5px 30px;
    font-size:18px;
    line-height:167%;
    font-weight:300;
}
#faq2 .answer ul,
#faq2 .answer ol {
    padding:0 0 0 23px;
    margin:0;
}
#faq2 .answer ul li,
#faq2 .answer ol li {
    padding:0;
    margin:0 0 25px 0;
}

.background-fog #faq2 .accord a,
.background-fog #faq2 .contact-us a {
    color:#0c322c;
    text-decoration:underline;
}

@media only screen and (max-width:768px) {
    #faq2 {
        padding:40px 0;
    }
    #faq .accord ul > li {
        border-radius:30px;
    }
    #faq2 ul.accord h3 {
        font-size:20px;
        padding:15px 25px 15px 20px;
        position:relative;
        border-radius:30px;
    }
    #faq2 ul.accord h3::after {
        position:absolute;
        top:35%;
        right:15px;
    }
    #faq2 .answer {
        padding:20px 25px 5px 20px;
        font-size:16px;
        line-height:150%;
    }

}




/****************************************************
************ Begin Brand System pages ***************
*****************************************************/
.home section.brand-system {
    margin-top:90px;
    min-height:500px;
    color:#EFEFEF;
    font-size:16px;
    line-height:150%;
    font-weight:normal;
}
section.brand-system .container {
    width:940px;
}
section.brand-system .subsection {
    margin-bottom:100px;
}
.subsection p a {
	text-decoration:underline;
}
.subsection p a.button {
	text-decoration:none;
}
#sidenav {
    position:relative;
    list-style-type:none;
}
#sidenav > ul {
    position:fixed;
    list-style-type:none;
    padding:0;
    margin:0;
    max-width:calc(100% - 20px);
}
#sidenav a {
    color:#EFEFEF;
    font-size:20px;
    font-weight:300;
    text-decoration:none;
}
#sidenav ul li {
    position:relative;
    margin-bottom:6px;
}
#sidenav ul li.current::before {
    content:' ';
    display:block;
    position:absolute;
    top:9px;
    left:-11px;
    width:6px;
    height:6px;
    border-radius:3px;
    background-color:#FE7C3F;
    overflow:hidden;
}
#sidenav ul ul {
    display:none;
    list-style-type:none;
    padding:1px 0 0 0;
    margin:0 0 0 19px;
}
#sidenav ul ul li {
    margin-bottom:0px;
	font-size:12px;
	line-height:24px;
}
#sidenav ul ul a {
    font-size:12px;
    font-weight:300;
}
#sidenav ul li.current ul,
#sidenav.visible ul li ul {
    display:block;
}
#sidenav.visible ul li {
    margin-bottom:3px;
}
#sidenav.visible ul li ul li {
    margin-bottom:2px;
}

#sidenav.visible.templates ul li {
	margin-bottom:6px;
}

#sidenav ul li#messaging ul {
    padding:4px 0 2px 0;
    margin-left:0;
}
#sidenav ul li#messaging ul a {
    font-size:14px;
    font-weight:normal;
}
#sidenav ul ul li.current::before {
    top:11px;
}
#sidenav ul li#messaging ul > li {
	margin-left:-10px;
}
#sidenav ul li#messaging ul ul {
    padding:0 0 0 18px;
    margin-left:19px;
    font-size:12px;
    line-height:117%;
}
#sidenav ul li#messaging ul ul li {
    margin-bottom:0;
	margin-left
}
#sidenav ul li#messaging ul ul a {
    font-size:12px;
    font-weight:300;
    line-height:117%;
}

#sidenav.faq ul {
    max-width:203px;
}
#sidenav.faq a {
    display:block;
    color:#0c322c;
    /*font-size:16px;*/
    /*line-height:119%;*/
    /*font-weight:500;*/
}
#sidenav.faq ul li {
    margin-bottom:10px;
}
#sidenav.faq ul li.current::before {
    /*top:7px;*/
}
#sidenav ul li#sidenavBtm {
    height:1px;
    position:relative;
    margin:0;
    padding:0;
    overflow:hidden;
}


.treatment {
    border-radius:30px;
    padding:30px;
    position:relative;
    margin-bottom:40px;
    overflow:hidden;
    image-rendering: high-quality;
}
.treatment > img:first-child,
.treatment.med-lrg2 .readout,
.treatment.t-small .readout {
    position:absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    max-width:calc(100% - 60px);
}
.treatment > div.readout {
    position:absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width:calc(100% - 60px);
}
.treatment.t-small {
    margin-top:0;
    margin-bottom:16px;
    min-height:97px;
    font-size:21px;
}
.treatment.big {
    min-height:357px;
    padding:45px;
}
.treatment.x-large {
    margin-top:0;
    min-height:430px;
}
.treatment.large {
    min-height:272px;
    margin-bottom:30px;
    font-size:12px;
    line-height:normal;
    padding:22px 28px 22px 28px;
}
.treatment.big2 {
    min-height:324px;
    padding:45px;
    margin-top:0;
    margin-bottom:16px;
}
.treatment.big3 {
    margin-top:0;
    min-height:332px;
}
.treatment.half {
    min-height:154px;
    margin-top:0;
    margin-bottom:16px;
}
.treatment-med {
    min-height:208px;
    margin-top:0;
    margin-bottom:16px;
}
.treatment.med-lrg {
    margin-top:0;
    margin-bottom:16px;
    min-height:136px;
    padding:30px 60px;
}
.treatment.med-lrg2 {
    min-height:224px;
    margin-top:0;
    margin-bottom:16px;
}
.treatment.med-lrg2b {
    min-height:208px;
    margin-top:0;
    margin-bottom:16px;
	padding-top:50px;
}
.treatment.med-lrg3 {
    min-height:215px;
    margin-top:0;
}
.treatment .detail {
    position:absolute;
    left:35px;
    bottom:6px;
    width:calc(100% - 60px);
    font-size:16px;
    font-weight:500;
    line-height:normal;
}
.treatment .detail.detail2 {
	font-size:14px;
	line-height:normal;
}
.treatment .detail.detail3,
.treatment .detail.detail4,
.treatment .detail.detail5 {
	font-size:12px;
	line-height:normal;
	font-weight:normal;
}
.treatment .detail.detail5 {
    left:23px;
    bottom:8px;
    width:calc(100% - 46px);
}
.treatment .detail.strong {
    font-weight:500;
}
.treatment .detail.fineprint {
    font-size:10px;
    line-height:140%;
    bottom:18px;
}
.treatment .detail.bottom20 {
    bottom:17px;
}
.treatment.treatment-v2 {
    padding:31px 36px 31px 36px;
    text-align:center;
}
.treatment.treatment-v2 > img:first-child {
    position:relative;
    top:0;
    left:0;
    -ms-transform:none;
    transform:none;
    max-width:calc(25% - 6px);
}
.treatment.treatment-v2 > img {
    max-width:calc(25% - 6px);
}
.treatment.demo-bad {
    font-size:14px;
    line-height:145%;
    font-weight:500;
    margin:0;
    min-height:86px;
    padding-bottom:25px;
}
.treatment.demo-bad2 {
    font-size:34px;
    line-height:117%;
    font-weight:500;
    padding-left:60px;
}
.treatment.demo-bad2 .detail {
    left:60px;
    bottom:20px;
    width:calc(100% - 120px);
}
.treatment.demo-bad2 .detail.detail2 {
    width:calc(100% - 100px);
}
.treatment.more-pad-left {
    padding-left:45px;
	padding-bottom:50px;
}
.treatment.less-pad-top {
    padding-top:20px;
}
.treatment.less-pad-sides,
.treatment.less-pad-sides2 {
    padding-left:20px;
    padding-right:20px;
}
.treatment.less-pad-sides .detail {
    left:16px;
    width:calc(100% - 28px);
    bottom:20px;
}
.treatment.less-pad-sides2 .detail {
    left:18px;
    width:calc(100% - 36px);
    bottom:18px;
}
.treatment.less-pad-sides2 .detail.detail4 {
    left:24px;
    width:calc(100% - 48px);
    bottom:8px;
}
.treatment.large-pad {
	padding:40px 16px 64px 40px;
	font-weight:normal;
}
.treatment.margin-small {
    margin-bottom:20px;
}
.treatment.marBtm30 {
    margin-bottom:30px;
}
.treatment.marBtm45 {
	margin-bottom:45px;
}

.colors-col1 {
	float:left;
	width:35%;
}
.colors-spacer {
	float:left;
	width:10%;
	min-height:1px;
}
.colors-col2 {
	float:left;
	width:55%;
}
@media only screen and (max-width: 767px) {
	.colors-col1,
	.colors-spacer,
	.colors-col2 {
		float:none;
		width:100%;
	}
}


.color-description {
	font-size:16px;
	line-height:150%;
	font-weight:normal;
	padding-top:25px;
}

.gradient-white {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0), white);
    opacity:0.5;
    border-radius:30px;
}
.gradient-black {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0), black);
    opacity:0.5;
    border-radius:30px;
}

table.tiles p {
    font-size:12px;
    line-height:normal;
    font-weight:normal;
}
table.tiles.white {
    color:black;
}
table.tiles {
    width:100%;
    height:100%;
    margin-bottom:110px;
}
table.tiles td {
    width:31%;
    height:100%;
}
table.tiles td.spacer {
    width:20px;
}
table.tiles td > div {
    height:100%;
    border-radius:30px;
}
table.tiles.white td > div {
    background-color:white;
}
table.tiles.light-gray td > div {
    background-color:#f1efef;
}
table.tiles td > div > div {
    padding:45px 25px 45px 25px;
}
table.tiles.tiles-v2 td > div > div {
    padding:36px 26px 8px 26px;
}
table.tiles td > div > div > img {
    display:block;
    max-width:100%;
    margin:0 auto;
}
table.tiles.tiles-v2 td > div > div > img {
    margin:0 auto 20px auto;
}

table.grid2 {
    max-width:100%;
}
table.grid2 tr.spacer {
    font-size:1px;
    line-height:1px;
    height:20px;
}
table.grid2 td {
    width:48.3%;
}
table.grid2 td img {
    max-width:100%;
}
table.grid2 td.spacer {
    width:20px;
}

table.contrast {
    font-size:22px;
    line-height:136%;
    font-weight:500;
}
table.contrast th {
    font-size:12px;
    line-height:140%;
    font-weight:normal;
    padding-bottom:7px;
}
table.contrast td.colorName {
    padding-right:30px;
}
table.contrast td.contrastRatio {
    font-weight:300;
    padding-right:59px;
}

video.scale2{
    -moz-transform:scale(1.33);
    -webkit-transform:scale(1.33);
    -o-transform:scale(1.33);
    -ms-transform:scale(1.33);
    transform:scale(1.33);
}

.customVideo1 {
    position:absolute;
    top:5px;
    left:0;
    width:80%;
    border-radius:30px;
}
.customVideo2 {
    position:absolute;
    top:10px;
    left:18%;
    width:64%;
    border-radius:30px;
}
.customVideo3 {
    position:absolute;
    top:-15px;
    left:0;
    width:100%;
    border-radius:30px;

    -moz-transform:scale(2.6);
    -webkit-transform:scale(2.6);
    -o-transform:scale(2.6);
    -ms-transform:scale(2.6);
    transform:scale(2.6);
}
.customVideo4 {
    position:absolute;
    top:6px;
    left:0;
    width:100%;
    border-radius:30px;

    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}

@media only screen and (max-width: 585px) {
    .treatment.med-lrg {
        padding:0 32px;
    }
    table.contrast {
        font-size:16px;
    }
    table.contrast td.colorName {
        padding-right:10px;
    }
    table.contrast td.contrastRatio {
        padding-right:20px;
    }
}

@media only screen and (max-width: 767px) {
    #sidenav > ul {
        position: relative;
    }
}
/****************************************************
************ End Brand System pages *****************
*****************************************************/




/****************************************************
************ Collateral Page ************************
*****************************************************/
table.step-program {
    width:100%;
    font-size:16px;
    line-height:150%;
    font-weight:normal;
}
table.step-program td {
    padding:15px 0;
}
table.step-program td.number {
    width:62px;
	padding-top:18px;
}
table.step-program td.number > div {
    width:40px;
    height:40px;
    border-radius:24px;
    border:2px solid;
    text-align:center;
    padding-top:6px;
	font-size:24px;
	font-weight:500;
	line-height:100%;
}

.lit-type-container {
	position:relative;
}
.lit-type-container img.lit-tp {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	border:3px solid white;
	border-radius:30px;
}
.lit-type-container img.spacer {
	position:relative;
	width:100%;
	border-radius:30px;
}
.lit-list-container {
	padding-left:25px;
}
ul.lit-types {
	font-size:19px;
	line-height:115%;
	margin:0;
	padding:0;
	list-style-type:none;
	font-weight:300;
}
ul.lit-types li {
	cursor:pointer;
	margin-bottom:15px;
}
ul.lit-types li.active {
	font-weight:500;
}

/****************************************************
************ End Collateral Page ********************
*****************************************************/



/****************************************************
************** Contact Form *************************
*****************************************************/
.contact-us {
    font-size:12px;
    font-weight:500;
}
.contact-us .contactContainer {
    position:relative;
    min-height:250px;
}
.contact-us label {
    display:block;
}
.contact-us input[type="text"] {
    width:100%;
    height:40px;
    border:2px solid #90EBCD;
    border-radius:20px;
    background-color:#EFEFEF;
    margin-bottom:22px;
    padding-left:10px;
    font-size:14px;
    font-weight:300;
}
.contact-us input.margin-big[type="text"] {
    margin-bottom:42px;
}

.contact-us .success {
    z-index:0;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    transition:opacity 0.4s;
    border:2px solid #30ba78;
    background-color:#90EBCD;
    color:#0c322c;
    min-height:100px;
    font-size:14px;
    font-weight:300;
    padding:20px;
}
.contact-us .error {
    z-index:0;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    transition:opacity 0.4s;
    border:2px solid #993333;
    background-color:#ffbbad;
    color:black;
    min-height:100px;
    font-size:14px;
    font-weight:300;
    padding:20px;
}
.contact-us .success strong {
    font-weight:500;
}
.contact-us .contLoad {
    z-index:0;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    transition:opacity 0.4s;
}
.contact-us .contForm {
    z-index:10;
    transition:opacity 0.4s;
}



    /************************************
    ********* End FAQ Page***************
    ************************************* */

footer {
    background-color:#0c322c;
    padding:50px 0 25px 0;
    color:white;
}
.home footer {
	font-size:12px;
}
footer ul {
    list-style: none;
    margin:0;
    padding:0;
}
footer a {
    text-decoration:none;
    color:white;
    font-weight:700;
}
.home footer a {
	font-weight:500;
}
footer a:hover,
.home footer a:hover {
    color:#31ba78;
    text-decoration:none;
}
footer .social img {
    width:30px;
    border-radius: 50%;
    margin:5px;
}
footer .foot-nav ul li {
    padding-right:50px;
}
.home footer .foot-nav ul li {
    padding-right:35px;
}
footer .divider {
    margin-top: 35px;
    margin-bottom: 25px;
    border-bottom: 3px dotted #FFF;
    opacity: 0.33;
}
footer .phone .number {
    display: inline-block;
    padding-right:20px;
}
footer .copy__rights {
    cursor: default;
}
/* END page styles */

/* Mobile Styles */
@media only screen and (max-width: 1000px) {
    header .l-grid--2-col {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns:1fr 1fr;
    }
    #hero-banner h1 {
        font-size: 48px;
    }
    #introduction, #goals-of-the-refresh, #strategies, #qlm, .design-principles {
        background-image: none;
    }
    #introduction {
        padding-top:10px;
        padding-bottom:30px;
    }
    #introduction .absolute-line {
        position: static;
        width:95%;
    }

    #goals-of-the-refresh {
        padding:30px 0 0;
    }
    #goals-of-the-refresh .absolute-container {
        position:relative;
        width:100%;
        height:445px;
    }
    #goals-of-the-refresh .absolute-line,
    #goals-of-the-refresh .al2,
    #goals-of-the-refresh .al3 {
        margin-left:5%;
        left:0;
        top:0;
    }
    #goals-of-the-refresh .al2,
    #goals-of-the-refresh .al3 {
        max-width:90%;
    }

    #strategies {
        padding:30px 0 50px;
        background: #0c322c url(/assets/img/strategires-line.png) 54% bottom no-repeat;
    }

    #qlm {
        padding:70px 0;
    }

    .design-principles {
        padding-top:50px;
    }
    .design-principles .l-grid--2-col-first-long {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns:1fr 1fr;
    }
    .design-principles .absolute-line {
        width:48%;
    }
    #design-principles1 .absolute-line {
        background: url(/assets/img/mobile/principles-line-tablet.jpg) right;
    }

    footer .l-flex {
        justify-content: center;
    }
    footer .logo {
        padding-bottom:20px;
    }
    footer .foot-nav ul li {
        padding-right:20px;
        padding-bottom:20px;
        padding-left:20px;
    }
    footer .phone, footer .copy {
        text-align: center;
        padding-bottom:10px;
    }
}

.navbar-inverse {
    background-color:transparent;
    border:0;
}

@media only screen and (max-width: 767px) {
    p {
        margin-bottom:18px;
    }
    .page-heading-h1 {
        font-size:48px;
        line-height:115%;
        margin:0 0 25px 0;
    }
    .page-heading-h1b {
        font-size:28px;
        line-height:115%;
        margin:0 0 25px 0;
    }
    .page-heading-h2 {
        font-size:18px;
        line-height:133%;
        margin-bottom:20px;
    }
    .page-heading-h2b {
        font-size:18px;
        line-height:133%;
        margin-bottom:20px;
    }
    .page-heading-h3 {
        font-size:17px;
        line-height:140%;
        margin:0 0 10px 0;
    }
    .spacer-big {
        height:40px;
    }
    .home section.brand-system {
        margin-top:0;
    }
    .logo img {
        margin-left:-15px;
    }
    #faq2 ul.accord h3 {
        font-size:18px;
        line-height:117%;
    }
    #faq2 .page-heading-h1 {
        margin-bottom:25px;
    }
    .container {
        padding-left:40px;
        padding-right:40px;
    }
    .container > .navbar-collapse {
        margin:0;
    }
    #faq2 {
        padding-top:0;
    }
    #faq2 > .container {
        overflow-x:hidden;
    }
    .sidenav-column {
        margin-left:-40px;
        margin-right:-40px;
    }
    .navbar {
        margin-bottom:40px;
        background-color:#30ba78;
        border:0;
    }
    .navbar-toggle {
        padding:0;
        float:none;
        display:block;
        margin:15px auto 13px auto;
        height:22px;
        border:0;
    }
    .navbar-toggle .icon-bar {
        width:48px;
        background-color:#EFEFEF;
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top:8px;
    }
    .navbar-toggle:focus,
    .navbar-toggle:hover {
        background-color:transparent;
    }
    .navbar-collapse {
        border:0;
    }
    .navbar ul {
        background-color:#D7D7D7;
    }
    .home .navbar ul {
        background-color:#90EBCD;
        background-color:#D7D7D7;
    }

    header .navbar-toggle {
        float:right;
        margin:15px 0 15px 0;
    }
    header .mainNav {
        /*display:none;*/
        float:none;
        clear:both;
    }
    header .mainNav li {
        display:block;
        position:relative;
    }
    header .mainNav li::after {
        position:absolute;
        left:-10px;
        top:12px;
    }
    header .mainNav li a {
        padding:5px 0 5px 0;
        margin:0;
    }
    header .navbar-collapse.in {
        overflow:visible;
    }

    #sidenav > ul {
        max-width:100%;
        padding:0 40px;
    }
    #sidenav a {
        color:#0c322c;
    }
    #sidenav.faq ul {
        position:relative;
        max-width:none;
        padding:0 40px 0 40px;
    }
    #sidenav > ul > li:first-child,
    ul#mainNavbar > li:first-child {
        margin-top:25px;
    }
    #sidenav > ul > li:last-child,
    ul#mainNavbar > li:last-child {
        padding-bottom:15px;
    }
    #sidenav ul ul a {
        font-size:14px;
    }
    #sidenav ul li#messaging ul ul a {
        font-size:14px;
    }

    .navbar-toggle .icon-bar { transition: .5s ease;}
    .navbar-toggle.collapsed .icon-bar:nth-child(2){ width:48px; transform: rotate(0)translateY(0)translateX(0); }
    .navbar-toggle.collapsed .icon-bar:nth-child(3){ width:48px; opacity:1}
    .navbar-toggle.collapsed .icon-bar:nth-child(4){ width:48px; transform:rotate(0)translateY(0)translateX(0); }
    .navbar-toggle .icon-bar:nth-child(2){ width:36px; transform:rotate(-45deg)translateY(5px)translateX(-5px); }
    .navbar-toggle .icon-bar:nth-child(3){ width:36px; opacity:0; }
    .navbar-toggle .icon-bar:nth-child(4){ width:36px; transform:rotate(45deg)translateY(-9px)translateX(-8px); }
}


@media only screen and (max-width: 750px) {
    #hero-banner h1 {
        text-align: center;
        font-size: 24px;
    }
    header .headline {
        font-size:18px;
    }
    #introduction .content {
        font-size:16px;
        line-height:24px;
    }
    #introduction .orange-headline {
        font-size:15px;
        margin-bottom:12px;
    }
    #introduction .absolute-line {
        background-image: url(/assets/img/brand/mobile-intro-line.png);
        height:370px;
    }
    #goals-of-the-refresh .headline,
    #strategies .headline,
    #the-system .headline {
        font-size:16px;
        line-height:22px;
        margin-bottom:30px;
    }
    #goals-of-the-refresh .content,
    #strategies .content,
    .design-principles .content {
        font-size:13px;
        line-height:21px;
        font-weight:normal;
    }
    #goals-of-the-refresh .al2,
    #goals-of-the-refresh .al3 {
        width:195px;
        height:195px;
        padding:20px;
        margin-left:40px;
    }
    #goals-of-the-refresh .absolute-container {
        height:350px;
    }
    #goals-of-the-refresh .absolute-line {
        height:350px;
        background: transparent url(/assets/img/brand/mobile-goals-line01.png) 70px 100px no-repeat;
    }
    #strategies {
        background: #0c322c url(/assets/img/brand/mobile-strategies-line01.png) center bottom no-repeat;
    }
    .design-principles {
        padding-bottom:30px;
    }
    .design-principles .l-grid--2-col-first-long {
        grid-template-columns: 1fr;
        -ms-grid-columns:1fr;
    }
    .design-principles .absolute-line {
        position: static;
        width: 100%;
        height: 220px;
    }
    #design-principles1 .absolute-line {
        background: #32ba78 url(/assets/img/brand/mobile-design-principles-line.png) center -15px no-repeat;
    }
    .design-principles .content-container {
        padding-top:50px;
    }

    .design-principles h3.headline {
        font-size:16px;
        margin-bottom:60px;
    }
    .design-principles .orange-headline {
        font-size:15px;
        text-transform:uppercase;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
        width:40px;
        height:40px;
        border-radius:20px;
        top:300px;
        font-size:22px;
        line-height:34px;
    }
    #qlm {
        padding-top:100px;
    }
    #qlm .content {
        font-size:17px;
        line-height:150%;
        font-weight:300;
        font-weight:normal;
    }
    #qlm .content p {
        font-weight:300;
    }

}
@media only screen and (max-width: 750px) and (-ms-high-contrast:none) {
    .design-principles .content-container {
        padding-top:80px;
    }
    footer .container > .l-flex {
        display:block;
    }
    footer .container img.logo {
        display:block;
        margin:0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }
    .sidenav-column {
        margin-left:-20px;
        margin-right:-20px;
    }
    #sidenav > ul {
        padding:0 20px;
    }
    #strategies {
        background-position: 50% bottom;
    }
    table.tiles,
    table.tiles tr,
    table.tiles td,
    table.grid2,
    table.grid2 tr,
    table.grid2 td {
        display:block;
        width:100%;
    }
    section.brand-system .subsection {
        margin-bottom:60px;
    }
    .treatment.more-pad-left {
        padding:20px;
    }
    .treatment.demo-bad2 {
        padding:20px;
    }
    .treatment.demo-bad2 .detail {
        left:20px;
        width:calc(100% - 40px);
    }
    .quote {
        padding:20px;
    }
    .treatment.x-large {
        min-height:200px;
    }
    .download .button {
        line-height:110%;
    }

}

/* END Mobile Styles */
