<tr class="table-row">
    <td class="projectName"><a href="{{ .repository }}">{{ .name }}</a></td>
    <td class="projectRepository">
        {{ with .website }}
        <a href="{{ . }}">{{ . | replaceRE "^https?://" "" | replaceRE "/$" "" }}</a></td>
        {{ else }}
        <a href="{{ .repository }}">{{ .repository | replaceRE "^https?://" "" | replaceRE "/$" "" }}</a>
    {{ end }}
    </td>
    <td class="projectCategory">{{ if .categoryOverride }}{{ .category }}{{ else }}{{ humanize .category | title }}{{ end }}</td>
</tr>