<navigation>
    <nav class="navigation--component" aria-labelledby="mainMenuLabel" data-collapse="both">
        <div class="navigation-container">
            <div class="navigation-group">
                <h1 class="navigation-label">{{ .Title }}</h1>
            </div>
            <div class="navigation-group">
                <a href="https://www.suse.com">
                    <img class="navigation-logo" alt="SUSE Logo"
                        src="/img/suse-white-logo-green.svg">
                </a>
            </div>
        </div>
    </nav>
</navigation>
