{{ define "main" }}
{{ $entities := dict "projects" $.Site.Data.projects "foundations" $.Site.Data.foundations }}
{{- range $entityname, $entityattrs := $entities }}
{{- range $category, $project := $entityattrs }}
    {{/* Flattens our projects dir into a map of projects and a list of categories */}}
    {{- range $k, $v := . }}
        {{/* check if we have a special name in the categoryMap */}}
        {{ with index $.Site.Params.categoryMap $category }}
        {{ $v = merge $v (dict "category" . "categoryOverride" true) }}
        {{ else }}
        {{ $v = merge $v (dict "category" $category) }}
        {{ end }}
        {{- $.Scratch.SetInMap $entityname $k $v }}
    {{- end }}
{{- end }}
{{- end }}
{{ partial "page-hero.html" . }}
{{ partial "page-featured.html" . }}
{{ partial "page-foundations.html" . }}
{{ partial "page-projects.html" . }}
{{ partial "page-cta.html" . }}
{{ end }}
